<form>
    <!-- <input type="text" [(ngModel)]="x"> -->

    <div class="container mt-5 p-5 bg-light col-8">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder"
                (input)="namev($event)">
            <div class="display text-danger">{{nametemp}}</div>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder"
                (input)="agev($event)">
            <div class="display text-danger">{{agetemp}}</div>
        </div>
        <button class="btn btn-success px-5 mt-3" (click)="vlidate()">add</button>

        <div class="bg-primary p-3 text-light m-2" *ngFor="let item of List;let i = index">

            {{i}} : {{item}}</div>
    </div>

</form>