<div class="container bg-dark p-5 text-center">
    <h1 class="text-light">{{x}}</h1>
    <h2 class="text-white">name</h2>
    <p class="text-primary">price</p>
    <div>
        <i class=" bi bi-star-fill mx-1 text-warning"></i>
        <i class=" bi bi-star-fill mx-1 text-warning"></i>
        <i class=" bi bi-star-fill mx-1 text-warning"></i>
        <i class=" bi bi-star-fill mx-1 text-warning"></i>
        <i class=" bi bi-star-fill mx-1 text-warning"></i>

    </div>

    <button class="btn btn-success " (click)="back()">back</button>
</div>